@charset "UTF-8";

$regular: 'Titillium Web', sans-serif;
$button: black;
$buttonHover: #f75172; 
$pink-dark:white;
$light: #f7f7f7;
$orange: #e9580c;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-ketonal.es-ketonal {
  font-family: $regular;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #000;
  }
  .es-kv {
    width: 100%;
    position: relative;
    &__header {
      @include img;
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }
    &__title {
      @include text;
      font-size: 6.5vw;
      font-weight: 300;
      position: absolute;
      left: 60%;
      bottom: 40%;
      & span {
        font-weight: 700;
        color: $orange;
      }
    }
    
  }
  .es-icons {
    margin-top: 40px;
    width: 100%;
    position: relative;
    &__wrapper {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px 20px;
    }
    &__single {
      width: 30%;
    }
    &__image {
      @include img;
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }
    &__text {
      @include text;
      padding: 10px;
      color: $orange;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
    
  }
}
@media screen and (max-width: 460px) {
  .es-kv {
    &__header {
      &--desktop {
        display: none !important;
      }
      &--mobile {
        display: block !important;
      }
    }
    &__title {
      width: 100%;
      text-align: center;
      font-size: 14.1vw !important;
      left: 0 !important;
      bottom: 23% !important;
    }
  }
  .es-icons {
    &__image {
      &--desktop {
        display: none !important;
      }
      &--mobile {
        display: block !important;
      }
      &__text {
        font-size: 32px;
      }
    }
    &__single {
      width: 100% !important;
    }
  }
}
@media screen and (min-width: 960px) {
  .es-kv {
    &__title {
      font-size: 62px !important;
    }
  }  
}
@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}