@charset "UTF-8";

$regular: 'Titillium Web', sans-serif;
$button: black;
$buttonHover: #f75172; 
$pink-dark:white;
$light: #f8f8f8;
$orange: #e9580c;
$gradientDark: #e64e19;
$gradientLight: #f6d77b;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-ketonal.es-ketonal {
  font-family: $regular;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #000;
  }
  .es-kv {
    width: 100%;
    position: relative;
    &__header {
      @include img;
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }
    &__title {
      @include text;
      font-size: 6.5vw;
      font-weight: 300;
      position: absolute;
      left: 60%;
      bottom: 40%;
      & span {
        font-weight: 700;
        color: $orange;
      }
    }
    
  }
  .es-icons {
    margin: 40px 0;
    width: 100%;
    position: relative;
    &__wrapper {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px 20px;
    }
    &__single {
      width: 30%;
    }
    &__image {
      @include img;
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }
    &__text {
      @include text;
      padding: 10px;
      color: $orange;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
    
  }
  .es-introduction {
    background-color: $light;
    padding: 30px 0;
    box-shadow: 0px -2px 10px 0px rgba(220, 220, 220, 1);
    &__text {
      @include text;
      margin: 0 auto;
      width: 80%;
      font-size: 18px;
      font-weight: 300
    }
    &__title {
      @include text;
      margin: 0 auto;
      padding-top: 40px;
      width: 70%;
      font-size: 34px;
      font-weight: 600;
      text-align: center;
      & span {
        color: $orange;
      }
    }
  }
  .es-indications {
    width: 100%;
    background-color: $light;
    display: flex;
    justify-content: center;
    &__content {
      width: 60%;
      padding-left: 60px;
    }
    &__image {
      width: 40%;
    }
    &__img {
      @include img;
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }
    &__title {
      @include text;
      width: fit-content;
      font-size: 34px;
      font-weight: 600;
      padding: 20px;
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(to right,$gradientDark,$gradientLight);
      border-image-slice: 1;
    }
    &__text {
      @include text;
      font-size: 18px;
      font-weight: 300;
      padding: 20px;
    }
    & ul {
      list-style-type: none;
    }
    & li {
      padding: 2px 0;
    }
    & ul li::before {
        content: "•";
        color: $orange;
        width: 2em;
        margin-left: -1em;
        margin-right: 1em;
    }
  }
  .es-indications-2 {
    width: 100%;
    background-color: $light;
    &__content {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
      text-align: justify;
    }
    &__title {
      @include text;
      width: fit-content;
      font-size: 34px;
      font-weight: 600;
      padding: 20px;
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(to right,$gradientDark,$gradientLight);
      border-image-slice: 1;
    }
    &__text {
      @include text;
      font-size: 18px;
      font-weight: 300;
      padding: 20px;
    }
    &__wrapper {
      margin: 20px auto 0;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      gap: 20px 20px;
    }
    &__single {
      width: 30%;
    }
    &__image {
      @include img;
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }
    &__desc {
      @include text;
      padding: 10px;
      color: $orange;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
  }
  .es-dose {
    width: 100%;
    background-color: $light;
    box-shadow: 0px 2px 10px 0px rgba(220, 220, 220, 1);
    &__content {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }
    &__title {
      @include text;
      width: fit-content;
      margin: 0 auto;
      font-size: 34px;
      font-weight: 600;
      padding: 20px;
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(to right,$gradientDark,$gradientLight);
      border-image-slice: 1;
      & span {
        color: $orange;
      }
    }
    &__text {
      @include text;
      font-size: 18px;
      font-weight: 300;
      padding: 20px;
    }
    &__image {
      @include img;
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }
    &__item {
      @include text;
      font-size: 18px;
      font-weight: 600;
      color: $orange;
      margin: 0 auto;
      padding: 12px 0;
      text-align: center;
      position: relative;
    }
  }  
  .es-safety {
    width: 100%;
    &__content {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }
    &__title {
      @include text;
      width: fit-content;
      margin: 0 auto;
      font-size: 34px;
      font-weight: 600;
      padding: 20px;
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(to right,$gradientDark,$gradientLight);
      border-image-slice: 1;
      & span {
        color: $orange;
      }
    }
    &__text {
      @include text;
      font-size: 18px;
      font-weight: 300;
      padding: 20px;
    }
  }
  .es-cross {
    width: 100%;
    &__wrapper {
      position: relative;
    }
    &__titleWrapper {
      width: 100%;
      position: absolute;
      top: 0;
    }
    &__content {
      position: absolute;
      top:35%;
      left: 47%;
      padding-right: 80px;
    }
    &__title2 {
      @include text;
      color: #fff;
      font-size: 3.5vw;
      font-weight: 200;
      padding-bottom: 40px;
    }
    &__subtitle {
      @include text;
      color: #fff;
      font-size: 2.2vw;
      font-weight: 200;
    }
    &__title {
      @include text;
      color: #fff;
      width: fit-content;
      margin: 0 auto;
      font-size: 3.5vw;
      font-weight: 600;
      padding: 20px;
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(to right,#fff,#fff);
      border-image-slice: 1;
    }
    &__signature {
      @include text;
      font-size: 14px;
      font-weight: 100;;
      color: #000;
      position: absolute;
      right: 1%;
      bottom: 1%;
    }
    &__text {
      @include text;
      font-size: 18px;
      font-weight: 300;
      padding: 20px;
    }
    &__image {
      @include img;
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }
  }
  .es-footer {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    &__text {
      @include text;
      font-size: 24px;
      font-weight: 100;
      text-align: justify;
    }
  }  
}

@media screen and (max-width: 460px) {
  .es-kv {
    &__header {
      &--desktop {
        display: none !important;
      }
      &--mobile {
        display: block !important;
      }
    }
    &__title {
      width: 100%;
      text-align: center;
      font-size: 14.1vw !important;
      left: 0 !important;
      bottom: 23% !important;
    }
  }
  .es-icons {
    &__image {
      &--desktop {
        display: none !important;
      }
      &--mobile {
        display: block !important;
      }
      &__text {
        font-size: 32px;
      }
    }
    &__single {
      width: 100% !important;
    }
  }
  .es-introduction {
    &__text {
      text-align: center;
      width: 90% !important;
    }
    &__title {
      width: 90% !important;
    }
  }
  .es-indications {
    flex-wrap: wrap;
    &__content {
      width: 100% !important;
      padding-left: 10px !important;
    }
    &__image {
      width: 100% !important;
    }
    &__img {
      &--desktop {
        display: none !important;
      }
      &--mobile {
        display: block !important;
      }
    }
    &__text {
      text-align: center;
    }
    &__title {
      margin: 0 auto !important;
    }
    & ul {
      text-align: left;
      padding-left: 20px !important;
    }

  }
  .es-indications-2 {
    &__content {
      text-align: center !important;
    }
    &__text {
      text-align: center !important;
    }
    &__title {
      margin: 0 auto !important;
    }
    &__image {
      &--desktop {
        display: none !important;
      }
      &--mobile {
        display: block !important;
      }
      &__desc {
        font-size: 32px;
      }
    }
    &__single {
      width: 100% !important;
    }
  }
  .es-dose {
    &__content {
      text-align: center !important;
    }
    &__text {
      text-align: center !important;
    }
    &__image {
      &--desktop {
        display: none !important;
      }
      &--mobile {
        display: block !important;
      }
    }
  }
  .es-safety {
    &__content {
      text-align: center !important;
    }
    &__text {
      text-align: center !important;
    }
  }
  .es-cross {
    &__image {
      &--desktop {
        display: none !important;
      }
      &--mobile {
        display: block !important;
      }
    }
  } 
  .es-cross {
    &__titleWrapper {
      width: 100% !important;
      position: absolute !important;
      top:1% !important;
      padding: 0 20px;
    }
    &__content {
      padding-right: 20px !important;
      top: 72% !important;
      left: 0 !important;
      padding: 10px;
      width: 100% !important;
      position: absolute !important;
    }
    &__title2 {
      margin: 0 auto !important;
      font-size: 5.2vw !important;
      padding-bottom: 20px !important;
      text-align: center;
    }
    &__subtitle {
      margin: 0 auto !important;
      font-size: 5.2vw !important;
      text-align: center;
    }
    &__title {
      text-align: center;
      margin: 0 auto !important;
      font-size: 6.2vw !important;
    }
    &__signature {
      width: fit-content;
      transform: rotate(90deg);
      right: 80% !important;
      bottom: 50% !important;
    }
    &__image {
      @include img;
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    } 
  }    
}
@media screen and (min-width: 960px) {
  .es-kv {
    &__title {
      font-size: 62px !important;
    }
  }
  .es-cross {
    &__content {
      padding-right: 90px !important;
    }
    &__title2 {
      font-size: 34px !important;
    }
    &__title {
      font-size: 34px !important;
    }
    &__subtitle {
      font-size: 24px !important;
    } 
  }   
}
@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}